@keyframes sin-logo-1{
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  50% { transform: translate(-50%, -50%) rotate(180deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes sin-logo-2{
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  50% { transform: translate(-50%, -50%) rotate(-180deg); }
  100% { transform: translate(-50%, -50%) rotate(-360deg); }
}

@keyframes sin-logo-3{
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  50% { transform: translate(-50%, -50%) rotate(360deg); }
  100% { transform: translate(-50%, -50%) rotate(720deg); }
}
/*消える,opasityより*/
@keyframes opas{
  0% { opacity: 100%; }
  50% { opacity: 50%; }
  100% { opacity: 0%; }
}
/*内側アニメーション*/
.sin-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
}
.circle1{
  animation: 
    sin-logo-1 8s linear 0s 2,/*name duration function delay iteration-count*/
    opas 3s linear 16s 1 forwards;
}  
.circle2{
  animation:
    sin-logo-2 8s linear 0s 2,
    opas 3s linear 16s 1 forwards;
}
.circle3{
  animation:
    sin-logo-3 8s linear 0s 2,
    opas 3s linear 16s 1 forwards;
}
.sin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-330%, -330%);
  scale: 15%;
  animation:opas 3s linear 16s 1 forwards;
}
