@font-face{
  font-family: "IBM";
  src: url(../font/font1.ttf) format("truetype");
}
.main{
  font-family: "IBM";
}
.hide{
  display: none;
}

.show{
  opacity: 1;
}
.dif{
  font-color: red;
}
.tooltip-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  bottom: 125%; /* 上に表示 */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
